body {
  font-family: 'Rubik', normal;
font-weight: 700;
}

.conteiner {
  max-width: 1440px;
  width: 100%;
}

/* header */

header {
  max-width: inherit;
  width: inherit;
  padding: 0px 100px 0px 100px;
  background-color: #9EAEC5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.header_logo {
  color: #F7F5F2;
  font-size: 36px;
  background-color: #bfba8f;
  width: 196px;
  height: 100px;
  border-radius: 0px 0px 50px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_logo:hover {
  cursor: pointer;
  color: aqua;
  border-radius: 50px;
  text-shadow: 3px 3px 8px blue, -3px -3px 15px aquamarine;
}

ul {
  display: flex;
  gap: 47px;
  font-size: 24px;
}

.header_text_contact {
  color: #623932;

}

.header_text {
  color: #E3F6F6;
}

li a:hover {
  border-bottom: 2px solid rgb(98, 57, 50);
  padding-bottom: 7px
}

.fa-cart-shopping {
  color: #EDF0F5;
  font-size: 2.25rem;
}

.burger_button {
  font-size: 2rem;
  color: white;
  float: right;
  line-height: 10px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

#burger_bar {
  display: none;
}


/* section */

.section_1 {
  width: 100%;
  background-image: url('./img/main');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;


}

.photo {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}


.sections_text {
  color: #FFFFFF;
  font-size: 6rem;
  text-align: center;
  position: absolute;
  top: 60%;
  transform: translateY(-40%);
  max-width: 100%;
  animation: animate 6s 2s;

}

@keyframes animate {

  from {
    color: blue;
    font-size: 0rem;
    box-shadow: 0px 0px 50px 2px orangered, 0px 0px 45px 5px yellow, 0px 0px 40px 10px green, 0px 0px 35px 15px rgb(0, 247, 255), 0px 0px 30px 20px blue, 0px 0px 25px 25px purple, 0px 0px 20px 5px inset orangered, 0px 0px 30px 10px inset yellow, 0px 0px 40px 15px inset green, 0px 0px 45px 20px inset rgb(0, 255, 221), 0px 0px 50px 25px inset blue, 0px 0px 60px 30px purple inset;


  }

  to {
    color: rgb(255, 255, 255);
    font-size: 6rem;
    border-radius: 30px;
  }
}

/* footer */


footer {
  max-width: 100%;
  background-color: #C0BA8F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 77px 100px 77px 100px;

}

.footer_logo {

  font-size: 2.25rem;
  color: #F7F5F2;

}

.footer_text {
  font-family: 'Rubik', normal;
  font-weight: 300;
  font-size: 1.25rem;
  color: #DDDBCB;
}

.footer_span {
  font-family: 'Rubik', normal;
  text-decoration-line: underline;
  font-weight: 300;
  font-size: 1.25rem;
  color: #DDDBCB;
}

.footer_icones {

  font-size: 2.25rem;
  display: flex;
  gap: 47px;

}

.footer_icone {
  color: #E3F6F6;
  max-width: 100%;
  transition: all 0.3s linear;
}

.footer_icone:hover {
  transform: scale(1.5);
}

#messenger:hover {
  color: rgb(46, 46, 255);
}

#instagram:hover {
  color: #ff006a;

}

#youtube:hover {
  color: red;
}



/* artworks_page */

 
/* section */

.sections_div {

  width: 69%;
  background-color: #623932;
  padding: 35px 38px 28px 34px;
  text-align: center;
  position: absolute;
}
.artwork_head{
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 41px;   
}
.artworks_maintext{
  font-family: 'rubik';
  font-style: normal;
  font-weight: 300px;
  font-size: 1.25rem;
  line-height: 24px;
  text-align: justify;
  color: #FFFFFF;
}

/* sections menu */

.sections_meniu{
  width: 100%;
  padding: 70px;
  background-color: #6A7B98;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sections_meniu_head{
  font-size: 2rem;
  color: #FFFFFF;
}
.laerge_card{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card{
  width: 30%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 33px 28px 30px 28px;
    margin-top: 150px;
}
.card:hover{
  cursor: pointer;
  box-shadow: 5px 10px 20px #1f2e41, -3px -7px 15px #67b0d1;
}
.img_div{
  width: 100%;
  Height: 289px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.img_div:hover{
  transform: scale(1.09);
  transition: 3s;


}
.images{
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.images:hover{
  filter: grayscale(85%);
  transform: scale(1.23);
  transition: 3s; 
}
.menus_texts{
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  color: #82625D;
  text-align: center;
  margin-top: 56px;
}